@media (max-width: 442px) {
    .main-block{
        padding: 0 30px !important; background-image: url("../img/main_img.png"); 
        background-repeat: no-repeat; background-position: bottom;
        border-radius: 0px 0px 100px 100px !important;
    }
    .logo-solutions{max-width: 162px;}
    .burger{display: block !important;}
    .scroll, .agency-mos, .img-block, .header-nav, .section-list, .full{display: none;}
    .main-title{font-size: 30px !important;}
    .description{line-height: 100% !important;}
    .header-buttons{display: grid;}
    .add-solution, .open-research {
        font-family: "TTFirs-Bold" !important;
        text-align: center;
        text-transform: uppercase;
    }
    .add-solution{ margin-right: 0 !important;}
    .open-research {padding: 21px 60px !important; margin-top: 40px !important;}

    section{padding-left: 30px !important; padding-right: 30px !important;}
    .text-block{font-size: 20px !important;line-height: 100% !important; margin-bottom: 25px !important;}
    .about-project { margin-top: 90px !important;}
    .title{font-size: 30px !important;  line-height: 100% !important;}
    .descript{font-size: 20px !important; line-height: 100% !important;}
    .small, .intro{display: block !important;}
    .icon{margin-right: 0 !important; margin-bottom: 55px;}
    .intro{
        text-align: center !important;
        width: 140px;
        border: 2px solid var(--primary-color);
        border-radius: 20px;
        padding: 30px 10px;
    }
    .name-section{font-size: 26px !important; line-height: 100% !important; color: var(--primary-color) !important;}
    .perspective-tech {  background-image: none !important;   border-radius: 0px 100px !important;}
    .perspective-tech .descript {       margin-bottom: 45px !important;    }
    .button-link {        width: 100% !important; margin-left: 0 !important;}
    .catalog{margin-bottom: 100px !important;}
}