@import "colors.css";
@import "fonts.css";
@import "media.css";

*{margin: 0;padding: 0;}
.container{max-width: 1400px; margin: 0 auto;}
.main-block{height: 100vh; padding: 0 68px; background-color: var(--primary-color); border-radius: 0px 0px 250px 250px;}
.header-body, .menu, .info-block, .intro, .tabs-caption, .modal-head, .feedback-content{display: flex; justify-content: space-between; align-items: center;}
.logo-solutions, .agency-mos{margin-right: 70px; z-index: 4;}
.menu, .section-list, .list-buttons, .tabs-caption, .steps-list{list-style: none;}
.header{padding: 40px 0; margin-bottom: 70px;}
.header::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}
.header-body{position: relative; z-index: 2;}
.item{margin-left: 40px;}
.link-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--white-text);
    text-decoration: none;
}
.burger{    display: none;}

.info-block{margin-bottom: 45px;}
.main-title{
    font-family: "TTFirs-ExtraBold";
    max-width: 670px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white-text);
}
.description{
    font-family: "TTFirs-Regular";
    max-width: 650px;
    font-size: 24px;
    line-height: 31px;
    margin-top: 40px;
    color: var(--white-text);
}
.add-solution{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    background-color: var(--white-text);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 21px 80px;
    text-decoration: none;
    color: var(--primary-color);
    margin-right: 50px;
}
.add-solution:hover{
    color: var(--white-text);
    border: 1px solid var(--white-text);
    background-color: var(--primary-color);
}
.open-research{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid var(--white-text);
    border-radius: 10px;
    padding: 21px 80px;
    text-decoration: none;
    color: var(--white-text);
}
.open-research:hover{
    color: var(--primary-color);
    background-color: var(--white-text);
    border: 1px solid var(--primary-color);
}
.scroll{
    bottom: 50px;
    margin: 0 auto;
    width: 62px;
    height: 62px;
    position: absolute;
    left: 48%;
}
.arrow:hover path{
    stroke: var(--white-text);
    fill: var(--primary-color);
}

.about-project{margin-top: 110px; margin-bottom: 101px;}
.text-block, .descript{
    font-family: "TTFirs-Regular";
    font-size: 24px;
    line-height: 31px;
    color: var(--black-text);
}
.text-block{ margin-bottom: 40px;}

.title{
    font-family: "TTFirs-Bold";
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--black-text);
    margin-bottom: 50px;
}
.solutions{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.intro{justify-content: flex-start;}
.icon{margin-right: 50px;}
.medicine, .health{max-width: 600px;}
.intro{margin-top: 64px;margin-bottom: 74px;}
.name-section{
    font-family: "TTFirs-Medium";
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: var(--black-text);
}
.small{display: none;}
.title-item{
    font-family: "TTFirs-Bold";
    font-size: 24px;
    line-height: 100%;
    text-decoration-line: underline;
    color: var(--primary-color);
    margin-bottom: 28px;
}
.descript-item{
    font-family: "TTFirs-Medium";
    font-size: 20px;
    line-height: 130%;
    color: var(--black-text);
    margin-bottom: 50px;
}

.modal-link{cursor: pointer; text-decoration: none; color: var(--primary-color);}
.perspective-tech{
    background-image: url("../img/prospect_tech.png");
    background-position: right 365px;
    background-repeat: no-repeat;
    background-color: var(--bg-color);
    border-radius: 0px 300px;
    padding-top: 100px;
}
.perspective-tech .descript {margin-bottom: 161px;}
.button-link{
    width: 500px; height: 100px;
    font-family: "TTFirs-Bold";
    font-size: 26px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    background: var(--white-text);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none; margin-bottom: 30px;
    margin-left: 138px;
}
.button-link:hover{    background-color: var(--primary-color);}
.button-link:hover .modal-link{ color: var(--white-text);}
.step-window:hover{    background-color: var(--primary-color);}
.step-window:hover .modal-link{ color: var(--white-text);}
.catalog{
    cursor: pointer;
    background: var(--primary-color);
    color: var(--white-text);
    margin-bottom: 232px;
}
.catalog:hover{background: var(--white-text);color: var(--primary-color);}

.changes{margin-top: 86px; margin-bottom: 100px;}
.tabs{margin-top: 42px;}
.tabs-caption{
    border: 1px solid var(--black-text);
    border-radius: 20px;
    margin-bottom: 50px;
}
.tabs-caption .dactive:nth-child(1){
    border: 1px solid #000000;
    color: var(--white-text);
    background: var(--primary-color);
    border-radius: 20px 0px 0px 20px;
}
.tabs-caption .dactive:nth-child(2){
    background: var(--primary-color);
    border: 1px solid #000000;
    color: var(--white-text);
    background: var(--primary-color);
}
.tabs-caption .dactive:nth-child(3){
    background: var(--primary-color);
    border: 1px solid #000000;
    color: var(--white-text);
    background: var(--primary-color);
    border-radius: 0px 20px 20px 0px;
}
.tabs-caption li:nth-child(2){border: 1px solid #000000;}
.tabs-caption li, .tabs-caption-mobile li{
    font-family: TTFirs-Bold;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0.1em;
    padding: 20px 36px;
    width: 33%;
}
.tabs-caption-mobile{display: none;}
.tabs-caption li:not(.dactive) {
    cursor: pointer;
  }
.tab-item::marker{font-size: 10px;}
.name-title-tabs{
    font-family: "TTFirs-Bold";
    font-size: 24px;
    line-height: 100%;
    color: var(--primary-color);
    margin-left: 103px;
    margin-bottom: 28px;
    margin-top: 50px;
}
.tab-item{
    font-family: "TTFirs-Medium";
    font-size: 20px;
    line-height: 130%;
    color: var(--black-text);
    margin-left: 103px;
}
.tab-content{display: none;}
.tab-content.active, .tab-content.active-list{display: block;}

.system-steps{
    padding-top: 100px;
    background: var(--bg-color);
    border-radius: 200px 0px;
    background-image: url("../img/hand.png");
    background-repeat: no-repeat;
    background-position: right 520px;
}
.system-steps .title{margin-bottom: 100px;}
.steps-list{display: flex; flex-wrap: wrap;}
.step-item button{
    width: 600px; height: 100px;
    font-family: "TTFirs-Bold";
    font-size: 26px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    color:var(--primary-color);
    background: var(--white-text);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border: none; margin-bottom: 50px;
}
.step-item:nth-child(2n+1) button{ border-radius: 0px 60px 60px 0px; margin-right: 64px; }
.step-item:nth-child(2n) button{   border-radius: 60px 0px 0px 60px;}
.step-item:last-child button{      margin-bottom: 256px;}

footer{
    padding: 30px 0;
    font-family: "TTFirs-Bold";
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.1em;
    background-color: var(--black-text);
    color: var(--white-text);
}

.modal-block{
    display: none;
    padding: 60px 200px;
    background: var(--white-text);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    z-index: 5;
    width: 1264px;
    position: fixed; 
    margin-top: -400px;
    margin-left: -150px;

}
.modal-head{    margin-bottom: 50px;}
.modal-title{
    font-family: "TTFirs-Bold";
    font-size: 24px;
    line-height: 100%;
    color: var(--primary-color);
}
.modal-text, .modal-item{
    font-family: "TTFirs-Medium";
    font-size: 20px;
    line-height: 130%;
    color: var(--black-text);
}
.modal-close{cursor: pointer;}
.modal-text{margin-bottom: 25px;}
.modal-item::marker{font-size: 10px;}
.modal-item{margin-left: 25px;}
.modal-item:last-child{margin-bottom: 25px;}
#overlay {
    z-index:3; 
    position:fixed; 
    background-color:#000; 
    opacity:0.8; 
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%; 
    top:0; 
    left:0;
    cursor:pointer;
    display:none; 
 }
 .odd{border-radius: 0px 200px 200px 0px; overflow-y: auto; max-height: 80%; }
 .even{border-radius: 200px 0px 0px 200px; overflow-y: auto; max-height: 80%; }

 .feedback-content{margin: 0 35px; display: flex !important;}
 .avatar{margin-right: 26px;}
 .feedback-block{
     background: var(--primary-color);
    border-radius: 250px 250px 0px 0px;
    margin-top: 100px;
    padding-top: 110px; padding-bottom: 50px;
}
.text-back, .organization, .name{
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 130%;
    color: var(--white-text);
}
.name{font-weight: bold; margin-top: 30px;}
.slick-prev:before {
    content: url("../img/arrow_left.svg") !important;  opacity: 1;
}
.slick-next:before {
    content: url("../img/arrow_right.svg") !important; opacity: 1;
}
.slick-dots li button::before{color: var(--white-text) ; opacity: 1; font-size: 10px;}
.black{display: none;}
.watch-all{
    display: none;
    font-family: "TTFirs-Bold";
    font-size: 14px;
    line-height: 16px;
    padding: 17px 58px;
    border: 1px solid var(--primary-color);
    box-sizing: border-box;
    border-radius: 10px;
    color: var(--primary-color);
    text-decoration: none;text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.watch-all:hover{
    background-color: var(--primary-color);
    color: var(--white-text);
}

@media (max-width:769px){
    .main-block{
       background-image: url("../img/main_img.png"); 
        background-repeat: no-repeat; background-position: bottom;
        border-radius: 0px 0px 100px 100px;
    }
    .img-block{display: none;}
    .agency-mos{display: none;}
    .burger{
        display: block;
        position: relative;
        width: 24px;
        height: 24px;
        z-index: 3;
    }
    .burger::before,
    .burger::after{
        content: '';
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: var(--white-text);
        transition: all 0.3s ease 0s;
    }
    .burger::before{top: 0;}
    .burger::after{bottom: 0;}
    .burger span{
        position: absolute;
        top: 11px;
        width: 24px;
        height: 2px;
        background-color: var(--white-text);
        transition: all 0.3s ease 0s;
    }
    .burger.active span{transform: scale(0);}
    .burger.active::before{
        transform: rotate(45deg);
        background-color:var(--primary-color);
        top: 11px;
    }
    .burger.active::after{
        transform: rotate(-45deg);
        background-color:var(--primary-color);
        bottom: 11px;
    }
    .header-nav{
        position: fixed; 
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        background-color:#fff;
        top: -100%;
        transition: all 0.3s ease 0s;
    }
    .white.active {display: none;}
    .black.active {display: block;}
    .header-nav.active{top: 0;}
    .menu{display: block; text-align: right; margin-top: 20%; margin-right: 15%;}
    .item{margin-bottom: 30px;}
    .link-item{font-size: 24px; line-height: 28px; color: rgb(30 32 77);}
    .header-buttons{display: grid;}
    .add-solution, .open-research {
        font-family: "TTFirs-Bold";
        text-align: center;
        text-transform: uppercase;
        width: 60%;
        margin-bottom: 25px;
    }
    .scroll, .agency-mos, .img-block{display: none;}
    section{padding-left: 68px; padding-right: 68px;}
    .small, .intro{display: block;}
    .icon{margin-right: 0; margin-bottom: 55px;}
    .intro{
        text-align: center;
        border: 2px solid var(--primary-color);
        border-radius: 20px;
        padding: 30px 10px;
    }
    .name-section{font-size: 26px; line-height: 100%; color: var(--primary-color);}
    .medicine, .health {    max-width: 48%;   }
    .full{display: none;}
    .perspective-tech {  background-image: none;   border-radius: 0px 100px;}
    .perspective-tech .descript {   margin-bottom: 45px;    }
    .button-link {  width: 100%; margin-left: 0;}
    .catalog{   margin-bottom: 100px;}
    .tabs-caption li {  font-size: 20px;}
    .name-title-tabs{margin-left: 0;}
    .tab-item{margin-left: 30px;}
    .system-steps{background-image: none; border-radius: 150px 0px;margin-bottom: 105px;} 
    .step-item button {
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
        border-radius: 20px !important;
        font-size: 22px;
    }
    .system-steps .title {        margin-bottom: 43px;    }
    .step-item:last-child button {        margin-bottom: 100px;    }
    .feedback{padding: 0;}
    .feedback-content{display: block !important; padding: 0 68px;}
    .slick-prev{left: 10px;}
    .slick-next{right: 30px;}
    
    .avatar{    margin-bottom: 50px !important; margin: 0 auto;}
    .feedback .title{margin: 0 30px;}
}
@media(max-width: 442px) {
    .main-block{padding: 0 30px;}
    .logo-solutions{max-width: 162px;}
    .section-list, .full{display: none;}
    .add-solution, .open-research {       width: auto;   font-size: 14px; }
    .main-title{font-size: 30px;}
    .description{line-height: 100%;}
    .menu{margin-top: 30%;}
    .add-solution{ margin-right: 0;}
    .open-research {padding: 21px 60px;}

    section{padding-left: 30px; padding-right: 30px;}
    .text-block{font-size: 20px;line-height: 100%; margin-bottom: 25px;}
    .about-project { margin-top: 90px;}
    .title{font-size: 30px;  line-height: 100%;}
    .descript{font-size: 20px; line-height: 100%;}
    .intro{ width: 140px; }
    .name-section{font-size: 26px; line-height: 100%; color: var(--primary-color);}
    .step-item button{width: 100%;}
    .tabs-caption{display: none;}
    .mitm1, .mitm2, .mitm3, .mitm4{display: none;}
    .mactive{display: list-item;}
    .tabs-caption-mobile{display: block; border-radius: 0; border: none; background-color: var(--primary-color); color: var(--white-text);}
    .tabs-caption-mobile li{width: auto;}
    .tabs-caption-mobile .mactive:nth-child(1), .tabs-caption-mobile .mactive:nth-child(2), .tabs-caption-mobile .mactive:nth-child(3),.tabs-caption-mobile .mactive:nth-child(4){border: 0px solid; border-bottom: 1px solid var(--white-text); border-radius: 0; }
    .tabs-caption-mobile li:nth-child(2), .tabs-caption-mobile li:nth-child(3) {        border: none;    }
    .slick-prev, .slick-next{top: 10%;}
    .avatar{ width: 250px;}
    .feedback-content{ padding: 0;}
    footer{padding: 30px;}
    .modal-block {
        padding: 65px 30px;
        border-radius: 20px !important;
        z-index: 5;
        max-width: 300px;
        left: 175px;
        overflow-y: auto;
        max-height: 60%;
    }

    .intro:hover, .intro:active {background-color: var(--primary-color); cursor: pointer;}
    .intro:hover .icon path, .intro:active .icon path{fill:var(--white-text)}
    .intro:hover .name-section, .intro:active .name-section{color: var(--white-text);}
    .watch-all{display: block;}
    .sport-active{display: block; width: 350px; margin-left: -200px;}
    .med-active{display: block; width: 350px;}
}